.section1 {
	margin-top: 50px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}


.fa-clock {
	font-size: 60px;
	color: red;
}

.fa-compass {
	font-size: 60px;
	color: blue;
}

.fa-compass:hover {
	color: yellow;
}

.mshobeli {
	margin-top: 100px ;
	width: 100%;
	height: 500px;
	border: 2px solid black;
	display: flex;

	flex-direction: column;

	justify-content: space-between;
	align-items: center;

	

}

.shvili {
	width: 70px;
	height: 70px;
}

.black {
	background-color: black;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}